html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;

  width: 100%;
  height: 100%;
}

.viewport {
  width: 100vw;
  height: 100vh;

  overflow: auto;

  background: #000;
}

.world {
  position: relative;

  width: 2000px;
  height: 1200px;
}

/* MAPA */
.mapa {
  width: 100%;
  height: 100%;

  display: block;
}

/* OBJETOS */
.objeto{
    position: absolute;

    image-rendering: auto;

    filter:
    drop-shadow(0 4px 6px rgba(0,0,0,0.3));

    transition: 0.3s;
}

.objeto:hover{
    transform: scale(1.03);
}

/* galpao */
.galpao {
  width: 350px;

  top: 545px;
  left: 0px;
}

/* COOPERATIVA */
.cooperativa {
  width: 300px;

  top: 580px;
  left: 350px;
}

/* CISTERNA */
.cisterna {
  width: 300px;

  top: 440px;
  left: 630px;
}

.plantacao {
  position: absolute;
  top: 200px;
  left: 890px;

  width: 1px;
  height: auto;
}

.terra {
  position: absolute;
  width: 10px; 
  height: auto;
  display: block;
  border: none;
}

/* BOTÃO FECHAR */

.menu-plantio{
  position:fixed;
  background:white;
  border:2px solid #333;
  border-radius:10px;
  padding:10px;
  z-index:9999;
}

.menu-plantio button{
  position: static;
  display:block;
  width:100%;
  margin:5px 0;
}

.cursor-plantio{
  position:fixed;
  width:40px;
  pointer-events:none;
  z-index:10000;
}

.oculto{
  display:none;
}

.planta{
  position:absolute;
  width:50px;
  height:auto;
  pointer-events:none;
}