html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;

  width: 100%;
  height: 100%;
}

.viewport {
  width: 100vw;
  height: 100vh;

  overflow: auto;

  background: #000;
}

.world {
  position: relative;

  width: 2000px;
  height: 1200px;
}

/* MAPA */
.mapa {
  width: 100%;
  height: 100%;

  display: block;
}

/* OBJETOS */
.objeto{
    position: absolute;

    image-rendering: auto;

    filter:
    drop-shadow(0 4px 6px rgba(0,0,0,0.3));

    transition: 0.3s;
}

.objeto:hover{
    transform: scale(1.03);
}

/* galpao */
.galpao {
  width: 350px;

  top: 800px;
  left: 350px;
}

/* MERCADO */
.mercado {
  width: 250px;

  top: 580px;
  left: 400px;
}

/* CISTERNA */
.cisterna {
  width: 300px;

  top: 440px;
  left: 630px;
}

:root {
  /* Altere apenas esses valores se o tamanho da imagem mudar */
  --largura-terra: 80px;
  --altura-visivel: 40px; /* Metade da largura é o padrão para isometria 2:1 */
}

.plantacao {
  position: absolute;
  /* Ajuste essas duas linhas para mover o bloco de terras para o centro da grama */
  top: 150px;   
  left: 450px;  

  display: grid;
  /* Define um grid de 10 colunas por 5 linhas */
  grid-template-columns: repeat(10, 50px); /* Metade da largura da imagem */
  grid-template-rows: repeat(5, 25px);    /* Metade da altura visível do losango */
  
  /* O GRANDE SEGREDO: */
  /* Removemos distorções estranhas. Apenas rotacionamos o container inteiro em 45 graus */
  /* e achatamos o eixo X/Y na proporção isométrica perfeita (2:1) para os blocos se encaixarem */
  transform: rotateZ(-45deg) scaleY(0.577);
  transform-style: preserve-3d;
}

.terra {
  width: 100px; /* Mantém o tamanho original de 100px da sua imagem */
  height: auto;
  display: block;
  
  /* Remove qualquer borda para evitar frestas brancas ou desalinhamento */
  border: none; 

  /* Desfaz a distorção do container na imagem individual para ela não ficar amassada */
  transform: scaleY(1.732) rotateZ(45deg);
}



/* ===== GALPÃO ARMAZÉM ===== */

.armazem {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.oculto {
  display: none;
}

.armazem-box {
  width: 900px;
  height: 520px;

  display: flex;
  position: relative;

  border: 6px solid #d35400;
  background: #ffd9a3; /* laranja claro */

  box-shadow: 0 10px 25px rgba(0,0,0,0.4);
}

/* LISTA ESQUERDA */
.lista {
  width: 280px;
  background: #f39c12;
  color: #000;
}

.lista div {
  padding: 16px;
  cursor: pointer;
  border-bottom: 1px solid #d35400;
  transition: 0.2s;
}

.lista div:hover {
  background: #ffb84d;
}

/* PAINEL DIREITO */
.info {
  flex: 1;
  padding: 20px;
  background: #ffd9a3;
  color: #000;
}

/* BOTÃO FECHAR */
button {
  position: absolute;
  top: 10px;
  right: 10px;

  width: 40px;
  height: 40px;

  border: none;
  background: #d35400;
  color: #fff;

  cursor: pointer;
}