/* ==========================
   RESET
========================== */
html,
body{
    margin:0;
    padding:0;
    width:100%;
    height:100%;
    overflow:hidden;
}



/* ==========================
   VIEWPORT
========================== */

.viewport{
    width:100vw;
    height:100vh;
    overflow:auto;
    cursor:grab;
}



.viewport:active{
    cursor:grabbing;
}



/* ==========================
   MUNDO
========================== */



.world{
    position:relative;
    width:2000px;
    height:1200px;

}



/* ==========================
   MAPA
========================== */



.mapa{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    object-fit:cover;
    z-index:1;
}



/* ==========================
   OBJETOS
========================= */



.objeto{
    position:absolute;
    z-index:10;
    user-select:none;
    pointer-events:none;

}



.galpao{
    width:350px;
    top:545px;
    left:0;
}



.cooperativa{
    width:300px;
    top:580px;
    left:350px;
}



.cisterna{
    width:300px;
    top:440px;
    left:630px;
}



/* ==========================
   PLANTAÇÃO
========================== */

.plantacao{
    position:absolute;
    top: 20px;
    left:1100px;
    z-index:20;
}

.plantacao2{
    position:absolute;
    top: 800px;
    left:1100px;
    z-index:20;
}

/* ==========================
   TERRAS
========================== */



.terra{
    position:absolute;
    width:100px;
    height:100px;
    z-index:21;
}



.terra img{
    width:100%;
    height:auto;
    display:block;
    user-select:none;
    pointer-events:none;
}

/* ==========================
   MENU DE CULTURAS
========================== */

.menu-plantio{
    position:fixed;

    width:170px;
    height:200px;

    z-index:9999;

    overflow:hidden;
}

.balao-img{
    width:100%;
    height:100%;

    object-fit:contain;

    display:block;
}

/* ==========================
   BOLINHAS
========================== */

.opcao{

    position:absolute;

    width:26px;
    height:26px;

    border:none;

    border-radius:50%;

    background:white;

    display:flex;
    justify-content:center;
    align-items:center;

    cursor:pointer;

    overflow:hidden;

    box-shadow:
        0 2px 0 #d0d0d0,
        0 3px 6px rgba(0,0,0,.2);

    transition:.2s;
}

.opcao:hover{
    transform:scale(1.15);
}

.opcao:active{
    transform:scale(1.25);
}

/* ==========================
   EMOJIS
========================== */

.alface{
    font-size:12px;

    top:32%;
    left:58px;
}

.cenoura{
    font-size:12px;

    top:32%;
    left:78px;
}

.tomate{
    font-size:12px;
    top:32%;
    left:102px;
}

.milho{
    font-size:12px;

    top:46%;
    left:66px;
}

.soja{
    font-size:12px;

    top:45%;
    left:90px;
}

.oculto{
    display:none;
}

/* ==========================
   PLANTAS
========================== */

.planta{

    position:absolute;

    left:50%;
    bottom:25px;

    transform:translateX(-50%);

    width:50px;

    z-index:50;

    pointer-events:none;
}